/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/* html {
  position: relative;
  min-height: 100%;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.header {
  margin: 0;
  background-color: white;
  box-shadow: 0px 3px 4px 1px rgba(200, 200, 200, 0.3);
  height: 6rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container {
  margin: 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 600px) {
  .logo-header {
    display: none;
  }
  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-group-buttons {
    width: 100%;
  }
}

.logo-header {
  width: 8rem;
  margin-right: 10px;
}

.button-login {
  margin: 0;
}

.search-group-buttons {
  background-color: brown;
  width: 20rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button {
  margin-right: 5px;
}

.custom-col {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
}

.custom-card {
  height: 380px !important;
  border: none !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px !important;
}

.carousel-image {
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}

.text-small {
  font-size: 14px;
}

.red-heart {
  color: red;
}

.rounded-left-input {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  /* width: 200px !important; */
}

/* Remove rounded corners from Ant Design RangePicker */
.ant-picker-input {
  border-radius: 0 !important;
  margin-right: 2px;
}

.login-icon {
  color: lightgrey;
}
