* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --pink: #ca0087;
}

.custom-container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.header {
  margin: 0;
  background-color: white;
  box-shadow: 0px 3px 4px 1px rgba(200, 200, 200, 0.3);
  height: 6rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container {
  margin: 0;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 600px) {
  .logo-header {
    display: none;
  }
  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-group-buttons {
    width: 100%;
  }
}

.logo-header {
  width: 8rem;
  margin-right: 10px;
}

.button-login {
  margin: 0;
}

.search-group-buttons {
  background-color: brown;
  width: 20rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button {
  margin-right: 5px;
  background-color: var(--pink) !important;
  color: white !important;
  border: 1px solid rgb(214, 214, 214) !important;
}

.custom-col {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
}

.custom-card {
  height: 380px !important;
  border: none !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px !important;
}

.carousel-image {
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}

.text-small {
  font-size: 14px;
}

.red-heart {
  color: red;
}

.rounded-left-input {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  box-shadow: none !important;
}

.rounded-bottom-input {
  border-top: 0;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.ant-picker-input {
  width: 100%;
  border-radius: 0 !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.ant-picker-input-header {
  width: 100%;
  border-radius: 0 !important;
  border-left: none !important;
}

.ant-input-number-input::placeholder {
  text-align: center;
  line-height: 50px !important;
}

.ant-input-number {
  width: 100%;
}

.ant-input-number-input {
  text-align: center !important;
}

.login-icon {
  color: lightgrey;
}

.no-gutter {
  margin: 0 !important;
  padding: 0 !important;
}

.img-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.room-details-container {
  width: 60% !important;
}

.reserve-button {
  margin-top: 10px;
  width: 100%;
  border: none;
  color: white;
  background-color: var(--pink);
}

.map-container {
  width: 100%;
  height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}
