html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 120px !important;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

:root {
  --pink: #ca0087;
}

.custom-container {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.header {
  margin: 0;
  background-color: white;
  box-shadow: 0px 3px 4px 4px rgba(200, 200, 200, 0.3);
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-container {
  margin: 0;
  width: 90%;
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-button-group {
  width: 30rem;
  height: 2rem;
}

.logo-header {
  width: 7rem;
  margin-right: 10px;
}

.button-login {
  margin: 0;
}

.search-button {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-right: 5px;
  background-color: var(--pink) !important;
  color: white !important;
  border: 1px solid rgb(214, 214, 214) !important;
}

.custom-col {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 25px;
}

.custom-card {
  /* height: auto !important; */
  border: 0.1px solid rgb(228, 228, 228) !important;
  /* border: none !important; */
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
  border-radius: 20px !important;
}

.carousel-image {
  height: 210px;
  object-fit: cover;
  border-top-left-radius: 15px !important;
  border-top-right-radius: 15px !important;
}

.text-small {
  font-size: 14px;
}

.red-heart {
  color: red;
  border: none;
}

.grey-heart {
  color: lightgray;
  border: none;
}

.rounded-left-input {
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  box-shadow: none !important;
}

.rounded-bottom-input {
  border-top: 0;
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.ant-picker-input {
  width: 100%;
  border-radius: 0 !important;
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}

.ant-picker-input-header {
  width: 100%;
  border-radius: 0 !important;
  border-left: none !important;
}

.ant-input-number-input::placeholder {
  text-align: center;
  line-height: 50px !important;
}

.ant-input-number {
  width: 100%;
}

.ant-input-number-input {
  text-align: center !important;
}

.login-icon {
  color: lightgrey;
}

.no-gutter {
  margin: 0 !important;
  padding: 0 !important;
}

.img-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.room-details-container {
  width: 60% !important;
}

.reserve-button {
  margin-top: 10px;
  width: 100%;
  border: none;
  color: white;
  background-color: var(--pink);
}

.map-container {
  width: 100%;
  height: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.custom-cursor {
  cursor: pointer !important;
}

.reserve-button.ant-btn:hover {
  color: lightgrey !important;
}

.rating-star {
  font-size: 15px !important;
}

.card-title-text {
  font-size: 17px !important;
}

.grey-card-text {
  font-size: 15px;
}

.card-available-text {
  font-size: 14px;
}

.card-price-text {
  font-size: 16px !important;
  font-weight: bold;
}
